# 依赖
node_modules
.pnpm-store

# 构建产物
dist
dist-ssr
*.tsbuildinfo

# 本地环境
.env.local
.env.*.local

# 编辑器与系统
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# 日志
*.log
npm-debug.log*
pnpm-debug.log*

# 本地打包验证产物
*.tgz
